﻿@model Web_1_core.Models.Answers

@{
    ViewBag.Title = "Assessment";
}

<h2>Assessment</h2>


<form asp-action="Index" method="post">

        <div style="text-align:center">
            <h1>Check your knowledge</h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div>When India got the independence?</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.independenceyear, "1947")
                &nbsp;1947
            </div>
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.independenceyear, "1984")
                &nbsp;1984
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.independenceyear, "1945")
                &nbsp;1945
            </div>
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.independenceyear, "2014")
                &nbsp;2014
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="color:red">

                @Html.ValidationMessageFor(x => x.independenceyear)
            </div>
        </div>
        <div style="height:15px"></div>
        <div class="row">
            <div class="col-lg-12">
                <div>Who was the first PM of independent India?</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.FirstPM, "Mahatma Gandhi")
                &nbsp;Mahatma Gandhi
            </div>
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.FirstPM, "Jawahar Lal Nehru")
                &nbsp;Jawahar Lal Nehru
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.FirstPM, "Narendra Modi")
                &nbsp;Narendra Modi
            </div>
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.FirstPM, "Indira Gandhi")
                &nbsp;Indira Gandhi
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="color:red">

                @Html.ValidationMessageFor(x => x.FirstPM)
            </div>
        </div>
        <div style="height:15px"></div>
        <div class="row">
            <div class="col-lg-12">
                <div>Who is Persident of India?</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.President, "Ramnath Kovind")
                &nbsp;Ramnath Kovind
            </div>
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.President, "Amit Saha")
                &nbsp;Amit Saha
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.President, "Mamta Benarji")
                &nbsp;Mamta Benarji
            </div>
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.President, "Sonia Gandhi")
                &nbsp;Sonia Gandhi
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="color:red">

                @Html.ValidationMessageFor(x => x.President)
            </div>
        </div>
        <div style="height:15px"></div>
        <div class="row">
            <div class="col-lg-12">
                <div>What is National flower of India?</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.NationalFlower, "Lili")
                &nbsp;Lili
            </div>
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.NationalFlower, "Rose")
                &nbsp;Rose
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.NationalFlower, "Lotus")
                &nbsp;Lotus
            </div>
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.NationalFlower, "Sunflower")
                &nbsp;Sunflower
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="color:red">

                @Html.ValidationMessageFor(x => x.NationalFlower)
            </div>
        </div>

        <div style="height:15px"></div>
        <div class="row">
            <div class="col-lg-12">
                <div>Who is National animal of India?</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.NationalAnimal, "Rahul Gandhi")
                &nbsp;Rahul Gandhi
            </div>
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.NationalAnimal, "Lion")
                &nbsp;Lion
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.NationalAnimal, "Monkey")
                &nbsp;Monkey
            </div>
            <div class="col-lg-6">
                @Html.RadioButtonFor(x => x.NationalAnimal, "Tiger")
                &nbsp;Tiger
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="color:red">

                @Html.ValidationMessageFor(x => x.NationalAnimal)
            </div>
        </div>
        <div style="height:15px"></div>
        <div class="row">
            <div class="col-lg-3">
                <button type="submit" value="Submit for Evaluation" class="btn btn-danger">Submit for Evaluation</button>
            </div>

        </div>


</form>
