﻿@model Web_1_core.Models.Response

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-12">@Model.Message</div>
    </div>
    <div class="row">
        <div class="col-lg-4">Total Questions: @Model.total</div>
        <div class="col-lg-4">Correct Answers: @Model.correct</div>
        <div class="col-lg-4">Percent Obtained: @Model.percent</div>
    </div>
    
</div>

